.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #69B578;
    color: white;
    font-family: 'Actor', sans-serif;
    margin-left: 10px;
    margin-right: 30px;
  }
  
  .left {
    display: flex;
    align-items: center;
  }
  
  .center {
    display: flex;
    gap: 30px;
    font-weight: bold;
    font-size: 16px;
  }
  
  .center span {
    cursor: pointer;
    position: relative;
    padding-bottom: 5px;
    color: white;
    text-decoration: none;
  }
  
  .active {
    border-bottom: 2px solid white;
  }
  
  .right {
    display: flex;
    align-items: center;
  }
  
  .userIcon {
    border-radius: 50%;
    background-color: white;
    padding: 8px;
    margin-top: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }