* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: 100%;
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}


h1 {
  font-family: 'Cambo', sans-serif;
  font-size: 3rem;
  color: #181D27;
}

label {
  font-family: 'cambo', sans-serif;
}

